header , main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}

button{
    width: 7em;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    border: solid #000000 3px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s;
}

button:hover{
    background-color: #494949;
}

button:active{
    background-color: black;
    border: #ffffff;
    color: #ffffff;
}

img{
    width: 10em;
}